.recover-password-container {
    width: 300px;
    margin: 0 auto;
  }
  
  .recover-password-form {
    padding: 20px;
  }
  
  .recover-password-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .recover-password-form button {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }